@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    font-family: sriracha, sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    background: url("../images/background.webp");
    
}

/* Heading and nav */

.heading{
    color: #f7cb07;
    text-align: center;
    font-size: 550%;
    margin-top: 0%;
    margin-bottom: 0%;
    text-shadow: 5px 5px #000000;
    -webkit-text-stroke: 1px #000000;
}

.menu{
    text-align: center;
}

.menu li{
    list-style-type: none;
    display: inline-block;
    width: 14%;
    background-color: #12c7e7;
    border-radius: 50px;
    border: 2px solid #000000;
}

.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 130%;
}

.menu a:hover{
    background-color: #f7cb07;
    color: #000000;
    width: 14%;
    display: inline-block;
    width: 100%;
    border-radius: 50px;
    transition: background-color ease-in-out 0.4s;
}

.active{
    text-decoration: 1.7px underline;
    color: #000000;
    background-color: #f7cb07 !important;
    border: 1px solid #000000;
}


.box{
    width: 75%;
    height: 300%;
    border: 2.5px solid #000000;
    background-color: #ffffff49;
    margin-left: 12%;
}

/* Game board */

.container{
    margin: 3% 30%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 40%;
}

.cell{
    width: 100%;
    height: 200px;
    border: 3px solid #000000;
    cursor: pointer;
    background-color: #00000010;
}

.cell:hover{
    background-color: #f7cb076c;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: auto;
    border: 0px;
    box-shadow: 2.5px 2.5px 2.5px;
}

/* Code implemented from Web Dev Simplified on Youtube.
    Code gets rid of the side borders on the game board */

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1){
    border-left: none;
}

.cell:nth-child(3n + 3){
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

/* Scores */

.player-score,
.computer-score{
    font-size: 200%;
    text-align: center;
    position: relative;
}

.player-score{
    float: left;
    left: 5%;
}

.computer-score{
    float: right;
    right: 5%;
}

.big {
    font-size: 400%;
}

/* Game Rules/Footer */

footer{
    text-align: center;
    font-size: 120%;
}

footer h2{
    text-decoration: 2px underline;
    margin: 0;
}

footer p{
    margin: 0;
}